In [79]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import math
from matplotlib import pyplot as plt

df = pd.read_csv('hiring.csv')

In [80]:
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0         NaN                    8.0                           9      50000
1         NaN                    8.0                           6      45000
2         5.0                    6.0                           7      60000
3         2.0                   10.0                          10      65000
4         7.0                    9.0                           6      70000
5         3.0                    7.0                          10      62000
6        10.0                    NaN                           7      72000
7        11.0                    7.0                           8      80000

In [81]:
median_val_experience = df['experience'].median()
df['experience'] = df['experience'].fillna(median_val_experience)
median_val_test_score = df['test_score(out of 10)'].median()
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(median_val_test_score)

median_val_experience ,  median_val_test_score , df

(6.0,
 8.0,
    experience  test_score(out of 10)  interview_score(out of 10)  salary($)
 0         6.0                    8.0                           9      50000
 1         6.0                    8.0                           6      45000
 2         5.0                    6.0                           7      60000
 3         2.0                   10.0                          10      65000
 4         7.0                    9.0                           6      70000
 5         3.0                    7.0                          10      62000
 6        10.0                    8.0                           7      72000
 7        11.0                    7.0                           8      80000)

In [82]:
model = LinearRegression()

In [83]:
X = df.drop(['salary($)'],axis="columns")

In [84]:
X

   experience  test_score(out of 10)  interview_score(out of 10)
0         6.0                    8.0                           9
1         6.0                    8.0                           6
2         5.0                    6.0                           7
3         2.0                   10.0                          10
4         7.0                    9.0                           6
5         3.0                    7.0                          10
6        10.0                    8.0                           7
7        11.0                    7.0                           8

In [85]:
Y = df['salary($)']

In [86]:
Y

0    50000
1    45000
2    60000
3    65000
4    70000
5    62000
6    72000
7    80000
Name: salary($), dtype: int64

In [87]:
model.fit(X,Y)

LinearRegression()

In [88]:
model.predict([[3.0,7.0,10.0]])

array([58910.56910569])

In [89]:
model.score(X,Y)

0.40000702382833775